<h1>Users#show</h1>
<% if @user.image? %>
  <%= image_tag @user.image.url %>
<% else %>
  <%= image_tag 'no_image_square.jpeg' %>
<% end %>
<h3>ユーザー名</h3>
<%= @user.name %>
<h3>メールアドレス</h3>
<%= @user.email %>

<div class="py-3">
  <%= link_to 'edit', edit_user_path, class: 'btn btn-primary' %>
</div>

<div class="py-3">
  <%= link_to '戻る', books_path, class: 'btn btn-warning' %>
</div>

