<h1>Users#show</h1>
  <%= image_tag @user.image.url %>
<h3>ユーザー名</h3>
<%= @user.name %>
<h3>メールアドレス</h3>
<%= @user.email %>

<div class="py-3">
  <%= link_to 'edit', edit_user_path, class: 'btn btn-primary' %>
</div>

<div class="py-3">
  <%= link_to '戻る', books_path, class: 'btn btn-warning' %>
</div>

