<h1>Books#show</h1>
<% if @book.user == current_user%>
  <%= link_to 'edit_post', edit_book_path(@book), class: 'btn btn-success' %>
<% end %>
<%= link_to 'Go back', books_path, class: 'btn btn-warning' %>
<div class="py-3">
  <div class="py-4">
    <% if @book.image? %>
      <%= image_tag @book.image.url, class: 'w-100', style: 'height: 600px; object-fit: cover;' %>
    <% else %>
      <%= image_tag 'no_image_square.jpeg', class: 'w-100', style: 'height: 600px; object-fit: cover;' %>
    <% end %>
  </div>

  <h2 class='h2'><%= @book.title %></h2>
  <div class="py-3 text-break" style='max-width: 100%; '>
    <%= @book.description %>
  </div>
</div>

<div class="my-3 comments">
  <h2>コメント一覧</h2>
  <div class="comments my-3">
    <%= render 'comments/post_comments', comments: @comments %>
  </div>
</div>
<%= form_with model: [@book, @comment], local: false do |f|  %>
  <div class="form-group">
    <%= f.label :comment_content, "comment_content" %>
    <%= f.text_area :comment_content, class: 'form-control' %>
  </div>
  <%= f.hidden_field :book_id, value: @book.id %>
  <%= f.submit "comment_content", class: 'btn btn-success'%>
<% end %>

